<%-include("../partials/top.ejs")%>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">         <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Admin Dash</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <button id="demo-menu-lower-right"
              class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
       <a href="/logout"><li class="mdl-menu__item">log out</li></a>
      </ul>
      
              
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Title</span>
          <nav class="mdl-navigation ">
            <a class="mdl-navigation__link text-dark fw-bolder" href="/admin">Dashboard</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/products">Products</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/users">Users</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/orders">orders</a>

              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/categories">Category</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content"><!-- Your content goes here -->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div id="barchart_material" style="width: 100%; height: 500px;"></div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       
          <script>
             google.charts.load("current", {
      packages: ["corechart"]
    });

    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
        ['2016/04', 136, 691, 629, 1026, 366, 569.6],
        ['2016/05', 165, 938, 522, 998, 450, 614.6],
        ['2016/06', 135, 1120, 599, 1268, 288, 682],
        ['2016/07', 157, 1167, 587, 807, 397, 623],
        ['2016/08', 139, 1110, 615, 968, 215, 609.4]
      ]);

      var options = {
        hAxis: {
          title: 'Month'
        },
        seriesType: 'bars',
        series: {
          // Index no. based from data (5 for Average Data)
          5: {
            type: 'line'
          }
        },
        title: "Annual Sales Report for FY'16",
        width: '100%',
        height: 400,
        vAxis: {
          title: 'Units Sold (In Millions)'
        },
        legend: {
          position: 'none'
        },
        bar: {
          groupWidth: '90%'
        },
//        isStacked: true
      };

      var chart = new google.visualization.ComboChart(document.getElementById('barchart_material'));

      chart.draw(data, options);
    }
          </script>
          
        </main>
        
      
</body>