<%-include("../partials/top.ejs")%>
<%-include("../partials/header.ejs")%>
<!-- Your content goes here -->
        
        <div class="container">
            <form action="/admin/editcat?id=<%=result._id%>" method="post" onsubmit="onsub()">


                <div class="mb-3 d-flex mt-4">
                   
                    <input id="disabledInput" type="text" class="form-control me-4"  name="newcat" placeholder="New Category" value="<%=result.name%>">
                    <input class="btn btn-primary" type="submit" value="update" id="sub">
                  </div>
               
               
            </div>
            </form>
        </div>
              
        </div>
        </main>
</body>