<%-include("../partials/top")%>
<style>
  html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 13px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 13px;
}

.login-form{ 
	width:320px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}

.submit-btn{
	margin-top:20px;
}
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Title</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content container d-flex justify-content-center"><!-- Your content goes here -->
        <div class="card login-form">
          <div class="card-body">
            <h3 class="card-title text-center">Change password</h3>
            <h6 id="success" class="text-success">updated successfully</h6>
            <h6 id="wrong"class="text-danger">wrong password..</h6>
            <h6 id="match" class="text-danger">password not matching..</h6>
            <h6 id="empty" class="text-danger">please fill all the fields..</h6>
            <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
            
            <div class="card-text">
             
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">Your old password</label>
                  <input type="password" class="form-control form-control-sm" id="oldpass">
                </div>
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">Your new password</label>
                  <input type="password" class="form-control form-control-sm" id="newpass">
                </div>
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">Repeat new password</label>
                  <input type="password" class="form-control form-control-sm" id="repeatpass">
                </div>
                <button type="submit" class="btn btn-primary btn-block submit-btn" onclick="changePassword()">Confirm</button>
            </div>
          </div>
        </div>
    
    
    </div>
    </main>
    <script>
      $(document).ready(()=>{
        $("#success").hide()
        $("#wrong").hide()
        $("#match").hide()
        $("#empty").hide()

      })
   
      function changePassword() {
         $.post("/home/changepass",{
            oldpass:$("#oldpass").val(),
            newpass:$("#newpass").val(),
            repeatpass:$("#repeatpass").val()
         },(response)=>{
             if(response.status=="updated"){
              $("#success").show()
              $("#wrong").hide()
        $("#match").hide()
        $("#empty").hide()
          
             }else if(response.status=="error"){
              $("#wrong").show()
              $("#match").hide()
        $("#empty").hide()
             }
             else if(response.status=="empty"){
              $("#success").hide()
        $("#wrong").hide()
        $("#match").hide()
              $("#empty").show()
             }
         })
      }
    </script>
  </div>