<%-include("../partials/top.ejs")%>

<style>
    #loginform{
        display: flex;
        flex-direction: column;
       
    }
    .login_container{
        
        display: flex;
        height: 700px;
        justify-content: center;
    }
    .left{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background-color: #2874F0;
        display: flex;
        flex-direction: column;
        max-width: 300px;
      
       
        
        padding: 20px 10px 0 10px;
        margin: 0;
    }
    .left h5{
        max-width: 200;
    }
    .right{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        display: flex;
        justify-content: center;
        /* background-color: aqua; */
      width: 600px;
      
    }
    .right form{
        margin-top: 0px;
    } 
    #loginbtn{
     margin-top: 20px;
     background-color: #2874F0;
     color: white;
    }
    #loginbody{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media only screen and (max-width: 600px) {

 .left{
  display: none;
 }
    }
    
    </style>
    <body class="bg-dang" id="loginbody">
        
        <div class="container login_container">
            <div class="left w-75">
                 <h2 class="text-light mt-4">User Register</h2>
                 <h5 class="text-light mt-3" style="max-width: 250px;">Get access to your Orders, Wishlist and Recommendations</h5>
            </div>
            <div class="right d-flex flex-column justify-content-start  align-items-center">    
              <div class="img mt-4 mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="28"><defs><linearGradient id="a" x1="38.766%" x2="61.151%" y1="14.446%" y2="85.38%"><stop stop-color="#28EDD3" offset="0%"/><stop stop-color="#3489DF" offset="100%"/></linearGradient></defs><path d="M29.05 21.46c2.57 0 4.54-1.2 4.54-3.84v-.05c0-2.17-1.94-2.97-3.6-3.53-1.28-.44-2.4-.75-2.4-1.42v-.04c0-.47.4-.82 1.23-.82.86 0 2.03.42 3.2 1.1l1.3-2.32c-1.3-.87-2.93-1.38-4.43-1.38-2.4 0-4.34 1.35-4.34 3.77v.05c0 2.3 1.88 3.08 3.54 3.57 1.3.4 2.45.65 2.45 1.38v.04c0 .54-.44.9-1.4.9-1.12 0-2.47-.5-3.75-1.43l-1.44 2.22c1.57 1.24 3.43 1.8 5.1 1.8zm10.02-.02c1.13 0 1.94-.27 2.65-.7v-2.7c-.5.27-1.04.42-1.66.42-.75 0-1.08-.38-1.08-1.15v-5.08h2.8V9.34h-2.8V6.3h-3.36v3.04H34.2v2.88h1.42v5.64c0 2.76 1.4 3.58 3.45 3.58zm9.75.06c2.14 0 3.74-.84 4.84-2.22l-1.92-1.7c-.93.86-1.75 1.22-2.88 1.22-1.5 0-2.56-.8-2.9-2.34h8.26c.02-.3.04-.62.04-.88 0-3.38-1.8-6.46-5.77-6.46-3.46 0-5.88 2.8-5.88 6.2v.03c0 3.64 2.64 6.15 6.2 6.15zM51 14.35H45.9c.27-1.53 1.17-2.53 2.57-2.53s2.3 1.03 2.5 2.53zm8.56 6.9V5.02H56.2v16.2h3.36zm5.97 0V5.02h-3.36v16.2h3.36zm8.07.25c2.15 0 3.74-.84 4.85-2.22l-1.93-1.7c-.93.86-1.74 1.22-2.87 1.22-1.5 0-2.57-.8-2.9-2.34H79c.02-.3.05-.62.05-.88 0-3.38-1.82-6.46-5.78-6.46-3.45 0-5.86 2.8-5.86 6.2v.03c0 3.64 2.64 6.15 6.2 6.15zm2.17-7.15H70.7c.27-1.53 1.18-2.53 2.57-2.53 1.42 0 2.3 1.03 2.5 2.53zm8.43 6.9v-4.4c0-2.85 1.37-4.2 3.6-4.2h.18V9.12c-2-.1-3.1.97-3.78 2.6V9.35h-3.37v11.9h3.37z"/><path fill="url(#a)" d="M15.64 1.68l.15.1s0 0-.27.42l-3.6 5.9-.1-.07c4.75 3.3 6.13 10.03 3.08 15.05-3.02 4.97-9.27 6.4-14 3.24l-.16-.1c-.02 0 0 .02.3-.47L4.6 19.9l.1.07C-.04 16.67-1.42 9.94 1.64 4.92c3.02-4.97 9.27-6.4 14-3.24z" transform="translate(-40 -12) translate(40 12)"/></svg>

              </div>
                <form action="/user/register" id="loginform" method="post">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="sample3" name="user">
                      <label class="mdl-textfield__label" for="sample3">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" name="mobile">
                        <label class="mdl-textfield__label" for="sample3">Mobile</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" name="email">
                        <label class="mdl-textfield__label" for="sample3">email</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="pass" name="password">
                        <label class="mdl-textfield__label" for="sample3">Password</label>
                      </div><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="conpass" name="confirm">
                        <label class="mdl-textfield__label" for="sample3">Conform Password</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" name="referal" max="5">
                        <label class="mdl-textfield__label" for="sample3">referal id</label>
                      </div>
                    
                      <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Register" id="loginbtn" onc>
                  </form>
                  <h6 class="mt-1 mb-1">or</h6> 

                  <a href="/login" class="mt-4">
                       Existing user?Log in
                  </a>

                  <h6 class="text-danger mt-4"><%=msg%></h6>
                  
</div>
        </div>
   
    </script>
    </body>