<%-include("../partials/top.ejs")%>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Title</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <form action="/home/products" method="post" style="margin-top: 25px;margin-right: 150px;">
        <input type="text" class="mb-4" name="search" id="" style="width:450px ;" placeholder="search here">
              </form>
              <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mt-3">
      
  <%if(locals.result){%>
    <h6 class="" style="color: #fff;font-weight: 600;"><%=result.name%></h6>
        <%}else{%>
          <h6 class="" style="color: #fff;font-weight: 600;">user</h6>
      <%}%>
  </button>
  
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
    <a href="/home/cart">  <li class="mdl-menu__item">Cart</li></a>
        <a href="/home/orders"><li class="mdl-menu__item">Orders</li></a>  
      <a href="/home/wishlist"><li class="mdl-menu__item">wishlist</li></a>  
          <li disabled class="mdl-menu__item">Disabled Action</li>
         <a href="/logout"><li class="mdl-menu__item">log out</li></a>
  </ul>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Your content goes here -->
              <div class="container">
                <%for(i=0;i<=r.length-1;i++){%>
                <div class="card mt-3 d-flex">
                    <div class="leftw-25">
                         <img width="10%" src="<%=r[i].p[0].mainImage%>">
                    </div>
                    <div class="right w-75">
                        <h1><%=r[i].p[0].model %></h1>
                    </div>
                </div>
                <%}%>

              </div>
            
          </div>
      
           
          </script>
          
        </main>
        
      
</body>